{% extends 'df_goods/base_list_detail.html' %}

{% block head %}
<!--头部添加预留空间   -->
	<script type="text/javascript">
		$(function deal_num() {
			// 这是界面加减界面的js
			var goods_num = $('#num_id').val();
			var price = $('#price').text();
			var sum_money = $('#sum_money').text();
			$('#add_num').click(function () {
			    goods_num ++;
			    $('#num_id').val(goods_num);
				sum_money = (goods_num*price).toFixed(2);	//toFixed函数，限制输出的小数点后的位数！！
				$('#sum_money').text(sum_money);

			});
			$('#sub_num').click(function () {
				goods_num --;
				if (goods_num <= 1) {
					goods_num = 1;
					$('#num_id').val(goods_num);
					sum_money = (goods_num*price).toFixed(2);	//toFixed函数，限制输出的小数点后的位数！！
					$('#sum_money').text(sum_money);
				}
				else{
					$('#num_id').val(goods_num);
					sum_money = (goods_num*price).toFixed(2);
					$('#sum_money').text(sum_money);
				}
			})
			$('#num_id').blur(function () {
				// alert($.type(goods_num));
				goods_num = $('#num_id').val();
				var a = /^[1-9]{1}\d{0,2}$/.test(goods_num);   //注意正则的使用形式。匹配成功就结束，不会继续匹配，区分大小写 / 表达式 /
				if (a == true) {
					$('#wrong_msg').css('display','none');
					sum_money = (goods_num*price).toFixed(2);
					$('#sum_money').text(sum_money);
				}
				else{
					$('#wrong_msg').css('display','inline');
					goods_num = 1;
					$('#num_id').val(goods_num);
					sum_money = (goods_num*price).toFixed(2);
					$('#sum_money').text(sum_money);
				}
			});
			$('#num_id').focus(function () {
				$('#wrong_msg').css('display','none');
			});
			$('#buy').click(function () {
				var goods_id = {{goods_detail.id}};
				var goods_num = $('#num_id').val();
				window.location.replace("/order/place_order/?goods_id="+goods_id+'&goods_num='+goods_num);   // 带参数的跳转

            })

		});

	</script>

{% endblock head %}

{% block top_little_boddy %}
<!--==============================================================================================-->
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/media/{{goods_detail.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods_detail.gtitle}}</h3>
			<p>{{goods_detail.gdesc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{goods_detail.gprice}}</em></span>
				<span class="show_unit">单  位：{{goods_detail.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" id="num_id" value="1">
					<a href="javascript:;" class="add fr" id="add_num">+</a>
					<a href="javascript:;" class="minus fr" id="sub_num">-</a>
				</div>
			<!--==================添加一个库存展示=========================-->
				<div class="remain_num fl">
					<div class="remain_num2">(剩余库存：{{goods_detail.gremain_num}} 件)</div>
					<div><span class="remain_num3" id="wrong_msg">请输入低于库存数量的正整数！</span></div>
				</div>
			<!-- ======================================================= -->
			</div>

			<div class="total">总价：<em><span id="sum_money">{{goods_detail.gprice}}</span>元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" id="buy">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>
{% endblock top_little_boddy %}
<!--==================================================================================================-->
<!--==============新品推荐栏==========================================-->
{% block little_boddy %}

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goods_detail.gdetail|safe}}</dd>   <!--加safe默认转义-->
				</dl>
			</div>

		</div>
{% endblock little_boddy %}
<!--==================================================================================================-->
{% block bottom_js%}
	<div class="add_jump"></div>  <!--将商品添加到购物车的动画效果-->
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
		$('#add_cart').click(function(){
		    // 点加入购物车，添加到数据库数字（获得对应数据，发送）
			var goods_id = {{goods_detail.id}};  //商品的id
			var goods_num = $('#num_id').val();  //商品输入框的数量
			$.get('/cart/add_goods/',{'goods_id':goods_id,'goods_num':goods_num},function (data) {
				// alert(data.user_exist);
				if (data.user_exist == '0'){
					window.location.href="/user/login/"
				}
				$('#show_count').html(data.cart_count);
            });
		    // 圆点的动画
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast');
			});
		})
	</script>
{% endblock bottom_js%}
