{% extends 'df_user/user_center_base.html' %}
<!--继承于用户中心的base模板-->
{% block head %}
<script type="text/javascript">
// 数量加号
	function add_num(obj){  //obj只是一个形参
		// alert(obj.name); 注意获取值的方法，要在对应的因为要遍历，无法用id去做，而是用传入this为obj的值的方式，进行获取
		// console.log($(obj).next().val());
		var goods_num =$(obj).next().val();
		// var cart_id = $(obj).parent().parent().prevAll('.col01').children('span').text();
		goods_num ++;
		if (goods_num > 999){
		    goods_num = 999;
		}
		$(obj).next().val(goods_num);
		var totle_price = goods_num * $(obj).parent().parent().prev().children().text();
		$(obj).parent().parent().next().children().text(totle_price.toFixed(2));  // 保留两位有效数字
		totle();
		// alert(cart_id);

		// ajax变更数据库内购买商品的数据
        // $.get('/cart/change_num/',{'cart_id':cart_id,'goods_num':goods_num},function (data) {
			// if (data.changed != '1'){
			//     alert('数据刷新失败，请刷新界面！');
			// 	window.location.reload()
			// }
        // })

	}
// 数量减号
	function sub_num(obj) {
		var goods_num =$(obj).prev().val();
		// var cart_id = $(obj).parent().parent().prevAll('.col01').children('span').text();
		goods_num --;
		if (goods_num < 1){
			goods_num = 1
		}
        $(obj).prev().val(goods_num);
		var totle_price = goods_num * $(obj).parent().parent().prev().children().text();
		$(obj).parent().parent().next().children().text(totle_price.toFixed(2));
		totle();

        // $.get('/cart/change_num/',{'cart_id':cart_id,'goods_num':goods_num},function (data) {
			// if (data.changed != '1'){
			//     alert('数据刷新失败，请刷新界面！');
			// 	window.location.reload()
			// }
        // })
    }
// 纠正数量输入框的输入
	function num_input(obj){
		// var cart_id = $(obj).parent().parent().prevAll('.col01').children('span').text();
		if ($.isNumeric($(obj).val())){
			if ($(obj).val() > 999){
		        $(obj).val(999)
			}
		}
		else {
            $(obj).val(1)
		}
		var totle_price = $(obj).val() * $(obj).parent().parent().prev().children().text();
		$(obj).parent().parent().next().children().text(totle_price.toFixed(2));
		totle();
        // $.get('/cart/change_num/',{'cart_id':cart_id,'goods_num':$(obj).val()},function (data) {
			// if (data.changed != '1'){
			//     alert('数据刷新失败，请刷新界面！');
			// 	window.location.reload()
			// }
        // })
	}
// 计算打算购买的总的数量和总价
	function totle() {
		var sum_money = 0;
		var goods_count = 0;
		$(':checked:not(#check_all)').each(function () {
			// console.log($(this).parent().nextAll('.col07').children().text());
			sum_money += parseFloat($(this).parent().nextAll('.col07').children().text());  //得到小计的价格
			goods_count ++
		});
		// alert(sum_money);
		$('#sum_money').text(sum_money.toFixed(2));
		$('#goods_count').text(goods_count);
	}

//这种ready的写法，实在网页加载完后，自动执行的。
    $(function () {
        //初始化，界面数据的显示。
		$(':checked:not(#check_all)').each(function () {
            var price = $(this).parent().nextAll('.col05').children().text();
            var num = $(this).parent().nextAll('.col06').children().children('input').val();
            var totle_price = price*num;
            $(this).parent().nextAll('.col07').children().text(totle_price.toFixed(2));
			// console.log(price,num);
		});


		totle();
		// 显示全部商品的数量，无所谓要不要买
		$('#add_cart_count').text($('.col07').length);
        // 全选全消
        $('#check_all').click(function () {
            sta = $(this).prop('checked');
            $(':checkbox:not(#check_all)').prop('checked', sta);
			totle();
        });
        // 有一个没选中，全选取消；全部选中，全选勾中。
        $(':checkbox:not(#check_all)').click(function () {
            if ($(':checked:not(#check_all)').length + 1 == $(':checkbox').length) {
                $('#check_all').prop('checked', true)
            }
            else {
                $('#check_all').prop('checked', false)
            }
			totle();
        });
        //点击了删除按钮。首先，删除界面的一条数据；然后，通过ajax删除数据库内的存储
		// ajax注意通讯后的数据刷新的问题。
        $('.col08').children().click(function () {
			var goods_id = $(this).next().text();
			$.get('/cart/del_goods/',{'del_goods':1,'goods_id':goods_id});  //发送删除商品。非重要数据，直接get就行
			$(this).parent().parent().remove();

        });
        var id_list = [];
		// var data = '';
		$('#clear_account').click(function () {

            $(':checked:not(#check_all)').each(function () {
                // id_list.push($(this).next().text());  //cart.id
				var goods_num =$(this).parent().nextAll('.col06').children().children('.num_show').val();
                var cart_id = $(this).next().text();
                id_list.push(cart_id+'*'+goods_num)
                // data += {'cart_id':cart_id,'goods_num':goods_num}
            });
            // alert(id_list);
            // console.log(id_list);

            if (id_list.length == 0){
                alert('请先添加商品到购物车！');
				window.location.replace('/');   // 没有商品在购物车，跳转到首页。
			}
			else {
				window.location.replace("/order/place_order/?id_num_list="+id_list);   // 带参数的跳转
			}
        })

    });
</script>
{% endblock head %}

{% block right_bar %}
	<!--此处为用户中心非公共区域,并不是以左右区分的，名字只是个延续-->
	<div class="total_count">全部商品<em id="add_cart_count">0</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>


	{% for cart in cart_info %}
	<!--cart_info得到的是一个该用户所有添加到购物的商品的集合-->
		<ul class="cart_list_td clearfix">
			<li class="col01"><input type="checkbox" checked="checked"><span style="display: none">{{cart.id}}</span></li>
			<li class="col02"><img src="/static/media/{{cart.buy_goods.gpic}}"></li>
			<li class="col03">{{cart.buy_goods.gtitle}}<br><em>{{cart.buy_goods.gprice}}元/{{cart.buy_goods.gunit}}</em></li>
			<li class="col04">{{cart.buy_goods.gunit}}</li>
			<li class="col05"><span>{{cart.buy_goods.gprice}}</span>元</li>  <!--span仅仅是为了获取单纯的数字比较简单-->
			<li class="col06">
				<div class="num_add">
					<!--onclick方法负责执行js函数，而void是一个操作符，void(0)返回undefined，地址不发生跳转。-->
					<a href="javascript:void(0);" onclick="add_num(this)" class="add fl" >+</a>
					<input type="text" onblur="num_input(this)" class="num_show fl" value="{{cart.buy_num}}">
					<a href="javascript:;" onclick="sub_num(this)" class="minus fl">-</a>
					<!--href="javascript:;表示在点击a后，会执行一个空的js命令-->
				</div>
			</li>
			<li class="col07"><span>{{cart.buy_goods.gprice}}</span>元</li>
			<!--<li class="col08"><a href="javascript:;">删除</a><span style="display: none;">{{cart.id}}</span></li>&lt;!&ndash;span用于暂存数据的id，为了删除的时候使用&ndash;&gt;-->
			<li class="col08"><a href="/cart/del_goods/{{cart.id}}/">删除</a></li>
		</ul>
	{% endfor %}


	<ul class="settlements">
		<li class="col01"><input type="checkbox" id="check_all" checked="checked"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="sum_money">0</em><br>共计<b id="goods_count">0</b>件商品</li>
		<li class="col04"><a href="javascript:;" id="clear_account">去结算</a></li>
	</ul>

{% endblock right_bar %}
