{% extends 'df_goods/base_list_detail.html' %}




{% block little_boddy %}
<!--还可以把DTL语言完全写到标签内!!!!!!!!!!!!!!!!!!!!!!========!!!!!!!!!!-->
		<!--sort分类排序方式，点击其中一种排排序方式后，都默认打开展示第一页-->
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list/{{type.id}}_1_1/"
				   {% if sort_num == '1' %}
				   		class="active"
				   {% endif %}
				>默认</a>
				<a href="/list/{{type.id}}_2_1/"
					{% if sort_num == '2' %}
				   		class="active"
				    {% endif %}
				>价格</a>
				<a href="/list/{{type.id}}_3_1/"
					{% if sort_num == '3' %}
				   		class="active"
				    {% endif %}
				>人气</a>
			</div>
<!--=============数据展示!!!!!!!!!!!!!!!!====================-->
			<ul class="goods_type_list clearfix">
				<!--遍历当前页，通过page对象得到的数据 -->
				{% for info in page %}
					<li>			<!--根据商品所属类别的id和自己的id得到对应详情页。-->
						<a href="/detail/{{info.gtype.id}}_{{info.id}}/"><img src="/static/media/{{info.gpic}}"></a>
						<h4><a href="/detail/{{info.gtype.id}}_{{info.id}}/">{{info.gtitle}}</a></h4>
						<div class="operate">
							<span class="prize">￥{{info.gprice}}</span>
							<span class="unit">{{info.gprice}}/{{info.gunit}}</span>
							<a href="#" class="add_goods" title="加入购物车"></a>
						</div>
					</li>
				{% endfor %}

			</ul>

			<!--分页-->
			<div class="pagenation">
											<!--在python语句中方法执行，一定加（），
											在DTL中，不能加，不然会报错
											“Could not parse the remainder: '()' from 'page.previous_page_number()'”-->
				{% if page.has_previous %}
					<a href="/list/{{type.id}}_{{sort_num}}_{{page.previous_page_number}}/"><上一页</a>
				{% endif %}

				{% for pindex in p.page_range %}
					{% if pindex == page.number %}
						<a class="active">{{pindex}}</a>   <!--把herf属性去掉，界面图标便无法点击-->
					{% else %}
						<a href="/list/{{type.id}}_{{sort_num}}_{{pindex}}/">{{pindex}}</a>
					{% endif %}
				{% endfor %}

				{% if page.has_next %}
					<a href="/list/{{type.id}}_{{sort_num}}_{{page.next_page_number}}/">下一页></a>
				{% endif %}

			</div>
		</div>


{% endblock little_boddy %}

