{% extends 'df_user/user_center_base.html' %}

{% block head %}
<script type="text/javascript">
	$(function () {
	    // 订单小计展示
		$('.col02').each(function () {
            var price = $(this).children().children().text();
            var little_count = price * $(this).next().text();
            $(this).nextAll('.col04').children().text(little_count.toFixed(2))
    	})
    });

</script>
{% endblock head %}
{% block right_bar %}
<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info/" >· 个人信息</a></li>
				<li><a href="/user/user_center_order/" class="active">· 全部订单</a></li>
				<li><a href="/user/user_center_site/" >· 收货地址</a></li>
			</ul>
		</div>




        <div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>


			{% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.otime}}</li>
					<li class="col02">订单号：{{order.oid}}</li>
					{% if order.isPay == True %}
						<li class="col02 stress">已支付</li>
					{% else %}
						<li class="col02 stress" style="color: red;">未支付</li>
					{% endif %}
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">

								{% for detail in order.orderdetailinfo_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/media/{{detail.goods.gpic}}/"></li>
									<!--这里的价格应该从order库内取，因为现在的价格可能跟购买时的价格不同-->
									<li class="col02">{{detail.goods.gtitle}}<em><span>{{detail.price}}</span>元/{{detail.goods.gunit}}</em></li>
									<li class="col03">{{detail.count}}</li>
									<li class="col04"><span></span>元</li>
								</ul>
								{% endfor %}


							</td>
							<td width="15%">{{order.ototal}}元</td>
							{% if order.isPay == False %}
								<td width="15%" style="color: red;">待付款</td>
								<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
							{% else %}
								<td width="15%">已付款</td>
								<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
							{% endif %}
						</tr>
					</tbody>
				</table>
			<div class="order_addr">订单收货地址 ：  {{order.oaddr}}</div>
			{% endfor %}




				<div class="pagenation">
					{% if page.has_previous %}
						<a href="/user/user_center_order/{{page.previous_page_number}}">上一页></a>
					{% endif %}

					{% for num in p.page_range %}
						{% if num == page.number %}
							<a class="active">{{num}}</a>
						{% else %}
							<a href="/user/user_center_order/{{num}}">{{num}}</a>
						{% endif %}
					{% endfor %}

					{% if page.has_next %}
						<a href="/user/user_center_order/{{page.next_page_number}}">下一页></a>
					{% endif %}

				</div>
		</div>
</div>
{% endblock right_bar %}
