{% extends 'df_goods/base.html' %}

{% block head %}
<script type="text/javascript">
	$(function () {
	    // '+1'初始化为隐藏状态
        $('.add_cart_ani').hide();
        // 点击购物车图标
		$('.add_goods').click(function () {
            $(this).parent().next().fadeIn();  // 淡入淡出
            $(this).parent().next().fadeOut();
			// 点加入购物车，添加到数据库数字（获得对应数据，发送）
			var goods_id = $(this).attr('name');  //商品的id(在家标签内，将name属性定义为了id的字符串)
			$.get('/cart/add_goods/',{'goods_id':goods_id,'goods_num':1},function (data) {
                if (data.user_exist == '0'){
					window.location.href="/user/login/"   // 用于当没有用户登陆时的重定向
				}
				$('#show_count').html(data.cart_count);
            });  //list界面，点一下加入购物车，默认数量加一
		});
    });
	//还可添加购物车的动画
</script>
{% endblock head %}

{% block middle_body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list/1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list/2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list/3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list/4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list/5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list/6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/no_setting/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/no_setting/">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
        <a id="a1">搜索结果</a>  <!--id='1'设置了他自己hover不改变-->
	</div>
{% block top_little_boddy %}


<!--detail专有的商品详情的内容-->

{% endblock top_little_boddy %}

	<div class="main_wrap clearfix">
        {% block little_boddy %}
        <!--还可以把DTL语言完全写到标签内!!!!!!!!!!!!!!!!!!!!!!========!!!!!!!!!!-->
                <!--sort分类排序方式，点击其中一种排排序方式后，都默认打开展示第一页-->
                <div class="r_wrap fr clearfix" style="width: 1200px">

                    <ul class="goods_type_list clearfix">
                        <!--遍历当前页，通过page对象得到的数据 -->
                        {% for info in page.object_list %}
                            <li>			<!--根据商品所属类别的id和自己的id得到对应详情页。-->
                                <a href="/detail/{{info.object.gtype.id}}_{{info.object.id}}/"><img src="/static/media/{{info.object.gpic}}"></a>
                                <h4><a href="/detail/{{info.object.gtype.id}}_{{info.object.id}}/">{{info.object.gtitle}}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{info.object.gprice}}</span>
                                    <span class="unit">{{info.object.gprice}}元/{{info.object.gunit}}</span>
                                    <a href="javascript:;" class="add_goods" name="{{info.object.id}}" title="加入购物车"></a>
                                </div>
                                <span class="add_cart_ani">+1</span>
                            </li>
                        {% empty %}
                            <p style="color: red;font-size: 30px;height: 400px;line-height: 400px;text-align: center">未检索到匹配项！</p>
                        {% endfor %}

                    </ul>

                    <!--分页-->
                    <div class="pagenation">
                                                    <!--在python语句中方法执行，一定加（），
                                                    在DTL中，不能加，不然会报错
                                                    “Could not parse the remainder: '()' from 'page.previous_page_number()'”-->
                        {% if page.has_previous %}
                            <a href="/search/?q={{query}}&amp;page={{page.previous_page_number}}"><上一页</a>
                            <!--&等符号尽量用&amp;字符实体代替，避免有些浏览器识别出错-->
                        {% endif %}

                        {% for pindex in paginator.page_range %}
                            {% if pindex == page.number %}
                                <a class="active">{{pindex}}</a>   <!--把herf属性去掉，界面图标便无法点击-->
                            {% else %}
                                <a href="/search/?q={{query}}&amp;page={{pindex}}">{{pindex}}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page.has_next %}
                            <a href="/search/?q={{query}}&amp;page={{page.next_page_number}}">下一页></a>
                        {% endif %}

                    </div>
                </div>


        {% endblock little_boddy %}

	</div>
{% endblock middle_body %}


