{% extends 'df_user/base_bottom.html' %}
<!--继承于base_bottom的总的基准模板。-->

{% block head %}

{% endblock head %}



{% block middle_body %}
<!--top标题栏-->
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if loadin == 1 %}
					<div class="login_info user_link fl">
						欢迎您：<em>{{user.uname}}</em>
						<span>|</span>
						<a href="/user/login_out/"><b>退出</b></a>	<!--添加退出按钮，用来清除session。-->
					</div>
				{% else %}
					<div class="login_btn fl">
						<a href="/user/login/">登录</a>    <!--top跳转到登录界面-->
						<span>|</span>
						<a href="/user/register/">注册</a>
					</div>
				{% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>   <!-- 未更改！ -->
					<span>|</span>
					<a href="/user/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>
<!--left_bar左侧边栏     logo链接未更改！-->
	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>



        {% block right_bar %}

        <!--此处为用户中心非公共区域,并不是以左右区分的，名字只是个延续-->

        {% endblock right_bar %}
{% endblock middle_body %}